@font-face {
    font-family: "nexa-bold";
    src: url("../css/font/Nexa Bold.otf");
}

@font-face {
    font-family: "nexa-light";
    src: url("../css/font/Nexa Light.otf");
}

@font-face {
    font-family: "Hiru";
    src: url("../css/font/HirukoBlackAlternate.ttf") ;
}

.font-nexa{
font-family:nexa-light;
}

.font-nexa-bold{
font-family:nexa-bold;
}

.font-hiru{
font-family:Hiru;
}


.fondo{  background:#34495e;}
.contenido{ width:810px; height:900px;}
.blanco{ color:#ecf0f1; font-size:28px;}
.login-{ width:300px; height:270px; color:#ecf0f1; background:#ecf0f1; }
.float-{ float:left;}
.limpiar{ clear:both;}
.tamano28{ font-size:33px; color:#ecf0f1; margin-top:300px;}

.texto-{ width:250px; height:40px; margin-top:35px; border:2px solid #2c3e50; border-radius:10px; font-size:25px; background:#ecf0f1;}

.boton-{ width:250px; height:40px; margin-top:35px; border-radius:10px; border:2px solid #2c3e50; font-size:25px; background:#2c3e50; color:#ecf0f1;}